body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

/* HOME PAGE STYLES */

/* NAVIGATION STYLES */

  nav {
    width: 100%;
    background-color: white;
    overflow:auto;
  }

  ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
  }

  li {
    float: left;
  }

  .logo img {
    width: 250%;
    height: auto;
    float: left;
  }

  nav a {
    width: 100px;
    display: block;
    margin-right: 40px;
    margin-left: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
  }

  nav a:hover {
    background-color: #ff84f5;
  }

  .topnav a.active {
    background-color: #ff84f5;
    color: black;
  }

  .topnav input[type=text] {
    width: 15%;
    height: auto;
    margin-right: 12px;
    margin-left: 380px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .button {
    display: inline-block;
    background-color: #ff84f5;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 20px;
    cursor: pointer;
  }

  /* MAIN CONTENT */

  .camera1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 30%;
  }

  .camera2 {
    display: block;
    margin-left: 200px;
    margin-top: -460px;
    width: 24%;
  }

  .camera3 {
    display: block;
    margin-left: 1990px;
    margin-top: -460px;
    width: 24%;
  }

  .information-photography {
    margin-left: 1030px;
    margin-top: 100px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .paragraphs {
    width: 50%;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    border: 1px solid black;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER */

  .copyright {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
  }

  /* SOCIAL MEDIA LINKS */

  .fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-top: -12px;
    margin-left: 15px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background:  #3f729b;
    color: white;
    float: right;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    float: right;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    float: right;
  }